$clr-primary: #0693e3;
$clr-primary-light: #cdecfe;
$clr-text-dark: #1f2d3a;
$clr-text-light: #999999;
$clr-secondary-btn-bg: #e7ebec;
$clr-neutral-bg: #e9ebed;
$clr-text-neutral-2: #515151;
$clr-text-neutral-3: #444444;
$clr-white: #ffffff;
$textbox-bg: #F9F9F9;
$blue: #0693E3;
