@use "../../assets/scss/variables.scss" as *;

.timeline {
  border-top: 1px solid $clr-neutral-bg;
  display: grid;
  grid-template-columns: 127px 1fr 71px;
  padding-top: 38px;
  &__left{
    display: grid;
    grid-template-rows: 131px 128px 38px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__mid {
    flex-grow: 1;
    position: relative;
    justify-content: start;
    text-align: left;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__grid {
      position: absolute;
      width: calc(100% + 32px);
      height: calc(100% + 10px);
      display: grid;
      justify-content: space-between;
      grid-auto-flow: column;
      top: -30px;
      left: -16px;
      color: $clr-text-light;
      font-size: 11px;
      font-weight: 600;
      z-index: -1;
      & > div {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 100%;
          border-left: 1px dashed $clr-neutral-bg;
          left: 50%;
          top: 16px;
        }
      }
    }
    &__images {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      gap: 3px;
      height: 131px;
    }
    &__audio {
      // overflow: auto;
      height: 128px;
      width: 100%;
      line-height: 128px;
      img {
        height: 128px;
      }
    }
    &__text {
      margin-top: 40px;
    }
  }
  &__right {
    display: grid;
    justify-content: center;
    grid-template-rows: 24px 1fr 24px;
    gap: 8px;
    text-align: center;
    padding-bottom: 30px;
  }

  .timeline_text {
    color: #0693E3;
    border-radius: 7px;
    padding: 10px;

  }
  .timeline_text_group {
    padding: 5px;
    margin: px;
  }
  
  .timeline_text_container {
    background: #CDECFE;
    padding: 10px;
  }
  .timeline_slide_preview_item {
    width: 250px;
    height: 125px;
  }

  .timeline__mid__images {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .active{
      border: 4px solid #0693E3;
    }
    .not_active {
      border: 2px solid #666c91;

    }
  }
  .timeline_slide_preview_item:hover {
    border: 4px solid #0693E3;
  }

  .timeline__mid__audio {
     margin-top: 30px;
  }

  .text_list_box {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }
  .slide__delete {
    width: 100%;
    margin: 5px;
    padding: 5px;
    span {
      float: right;
    }
  }
}
