@use "../../assets/scss/variables.scss" as *;

.actioncard {
  background-color: $clr-white;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $clr-neutral-bg;
  cursor: pointer;
  &__icon {
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    background-color: $clr-primary-light;
    border-radius: 10px;
  }
  &__content {
    color: $clr-text-dark;
    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 5px;
    }
    span {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
    }
  }
}
